extends layout

block file-info
    table(class="table table-bordered")
        tr
            th 檔案名稱
            th 檔案大小
            th 檔案類型
            th 上傳時間
            th 上傳狀態
        for file in file_info.files
            tr
                td 
                    p.text-info #{file.filename}
                td 
                    p.text-info #{file.filesize}
                td 
                    p.text-info #{file.filetype}
                td 
                    p.text-info #{file.date}
                td 
                    unless file_info.upload_rs
                        p.text-info 檔案上傳失敗
                    else
                        p 檔案上傳成功
    form(method="get", action="/")               
        input#back(class="btn btn-primary", type="submit" , value="返回首頁")
                
block file-list
    table.table
        tr
            th 檔案名稱
            th 檔案大小
            th 檔案類型
        for file in file_info.files
            tr
                td.text-info 
                    p #{file.filename}
                td.text-info
                    p #{file.filesize}
                td.text-info
                    p #{file.filetype}

