extends layout

block file-info
	form#wjson(method='post', action='/wjson', name="wjson")
		div
			.leftfloat 資料夾名稱：#{date}
			input(name="folder",type="hidden", value="#{date}")
			.rightfloat
			input(placeholder="#{date}", name="bookname", value="#{chapter_title}").margin-bottom.margin-left
		table(class="table table-bordered")
			tr
				th 檔案名稱
				th 標題
			for file in file_info
				tr
					td 
						h4.text-info 
							strong #{file.filename}
					td 
						input(placeholder=#{file.filename}, name="alias", value="#{file.filename}")
		button.btn.btn-primary
			儲存

